- if notice.present? || alert.present?
  .row
    - is_alert = alert.present? ? "alert" : ""
    %div{:class => "alert-box #{is_alert} title",:style=>"margin:1em auto 0 auto;padding-top:1em; text-align:center;color:red;", "data-alert" => ""}
      = notice || alert
      %a.close{:href => "#"} &times;