.top-bar
  .top-bar-left
    %ul.menu
      %li.menu-text Clothstore
      %li
        =link_to "Home", products_path

  .top-bar-right
    %ul.menu
      %li
        =link_to "Log in","#"
      %li
        =link_to "Register","#"
  
    