.top-bar
  .top-bar-left
    %ul.menu
      %li
        =link_to "Clothstore", products_path, :class=>"menu-text"

  .top-bar-right
    -if signed_in?
      %ul.menu
        %li
          =link_to carts_path do
            %i{:class=>"fi-shopping-cart"}
            My Cart

            (
            %span{:class=>"cart-count"}  
              #{current_user.cart_count}
            )
        %li
          =link_to current_user.email, edit_user_registration_path
        %li
          =link_to "Logout", destroy_user_session_path, method: :delete
    -else
      %ul.menu
        %li
          =link_to "Log in",new_user_session_path
        %li
          =link_to "Register", new_user_registration_path